//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

//ICONS - NEW IN 0072 
ICON_NAME_DEBUG = icon-debug.icns
ICON_NAME_RELEASE = icon.icns
ICON_FILE_PATH = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/

//IF YOU WANT AN APP TO HAVE A CUSTOM ICON - PUT THEM IN YOUR DATA FOLDER AND CHANGE ICON_FILE_PATH to:
//ICON_FILE_PATH = bin/data/

OF_LIBDC_H = "../../../addons/ofxLibdc/src" "../../../addons/ofxLibdc/libs/dc1394/include" "../../../addons/ofxLibdc/libs/dc1394/include/dc1394" "../../../addons/ofxLibdc/libs/libusb/include/"
OF_LIBDC_L = "../../../addons/ofxLibdc/libs/dc1394/lib/osx/libdc1394.a" "../../../addons/ofxLibdc/libs/libusb/lib/osx/libusb-1.0.a"

OF_COCOA = "../../../addons/ofxCocoaGLView/src"
OF_GUI = "../../../addons/ofxGui/src"

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS) -framework WKWebView $(OF_LIBDC_L)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OF_LIBDC_H) $(OF_COCOA) $(OF_GUI) "../Shared"
