<!-- 
	data: {
		name: string (character name)
	}
 -->
<div id="wrapper">
	<div class="title" class="top">
		Share Your <br /><strong>{{name}}</strong>
	</div>
	<div id="captured" class="middle">
		<img src="{{img}}" />
	</div>
	<div id="ui" class="bottom">
		<div id="interface_email">
			<div id="title">Share via email</div>
			<textarea id="i_email" placeholder="you@yourdomain.com" />
			<div id='keyboard'></div>
		</div>
		<div id="interface_tumblr">
			<div id="t_text">Share on the Anything Muppet Tumblr<br /><strong>tumblr.com/mmi-am</strong><strong>@mmi-jham</strong></div>
			<div id="b_share_tumblr" class="button">Share</div>
		</div>
		<div id="interface_instagram">
			<div id="i_text">Share on the Anything Muppet Instagram<br /><strong>@mmi-jham</strong></div>
			<div id="b_share_insta" class="button">Share</div>
		</div>
		<div id="buttons">
			<div id="b_email" class="button">Email</div>
			<div id="b_instagram" class="button">Instagram</div>
			<div id="b_tumblr" class="button">Tumblr</div>
		</div>
		<div id="b_done" class="button">I'm Done</div>
	</div>
</div>