<div id="wrapper">
	<div class="title">Perform</div>
	<div id="image_container" class="fill">
		<div id="webcam">
			<video id="wc"></video>
		</div>
		<div id="clip_overlay">
			<video id="{{id}}" autoplay class="video">
				<source src="{{video}}" />
			</video>
		</div>
	</div>
	<div id="countdown" class="fill">
		<div id="countdown_text"></div>
	</div>
</div>