<div id="wrapper">
	<div class="title">Practice</div>
	<div id="image_container" class="fill">
		<div id="webcam">
			<video id="wc"></video>
		</div>
		<div id="clip_overlay">
			<video id="{{id}}" class="video">
				<source src="{{video}}" />
			</video>
		</div>
	</div>
	<div id="countdown" class="fill">
		<div id="countdown_text">3</div>
	</div>
	<div class="bottom" style="z-index:52">
		<div id="b_next" class="button">Get Started</div>
	</div>
	<div id="timer"></div>
	<!-- <audio src="sound/Pv05.mp3" autoplay></audio> -->
</div>