<div id="wrapper">
	<div class="title">Share</div>
	<div id="image_container" class="fill">
		<!-- <div id="webcam"> -->
			<video id="{{id}}" autoplay loop class="share_video">
				<source src="{{video}}" type="video/webm" />
			</video>
		<!-- </div> -->
	</div>
	<div class="bottom">
		<div id="b_share" class="button">Share</div>
		<div id="b_startover" class="button">I'm Done</div>
	</div>
</div>