<!-- 
	data: {
		title:string,
		video:string(url)
	}
 -->
<div id="wrapper">
	<div id="title_wrap" class="introTitle">
		<div>Design an<br /><strong>Anything Muppet</strong></div>
	</div>
	<div id="get_started" class="">
		<div id="b_getstarted" class="button noselect">Start</div>
	</div>
</div>