<div id="wrapper">
	<div class="title">Practice</div>
	<div id="image_container" class="fill">
		<div id="webcam"></div>
		<div id="clip_overlay">
			<video id="{{id}}" autoplay loop class="video">
				<source src="{{video}}" />
			</video>
		</div>
	</div>
	<div id="countdown" class="fill">
		<div id="countdown_text"></div>
	</div>
	<audio src="sound/Pv05.mp3" autoplay></audio>
</div>