<div id="wrapper">
	<div class="title">Share</div>
	<div id="image_container" class="fill">
		<div id="webcam"></div>
		<div id="clip_overlay">
			<video id="{{id}}" autoplay loop class="video">
				<source src="{{video}}" />
			</video>
		</div>
	</div>
</div>