/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family:Helvetica;
    font-size: 30px;
    line-height: 52px;
}

html, body {
    width: 100%;
    height: 100%;
}

/* TEMP LAYOUT HAX */

#spacer {
}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

/* Mains */
.top {
    position: absolute;
    top:0px;
    width: 100%;
    height: 15%;
    background-color: #444;
}

.middle {
    position: absolute;
    top:15%;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bottom {
    position: absolute;
    top:85%;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button {
    /*width:50%;*/
    /*height: 50%;*/
    background-color:green;
    padding:20px;
    color:white;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    font-size: 1.5rem;
    line-height: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.title div {
    /*flex: 1 100%;*/
}

/* INTRO */

#video {
    background-color:#666;
}

#get_started {
    background-color:#444;
}

/* Scripts */
#scripts {
    background-color: #666666;
}

#script_container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.script {
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    transition: left ease-in-out .5s;
}

.script_img {
    width: 66%;
    float: left;
}

.script img {
    width: 100%;
}

.script_space {
    width: 17%;
    height: 100%;
    float: left;
}

#prev {
    padding: 10px;
    color:white;
    background-color: red;
    left:0px;
    position: absolute;
    z-index: 2;
    top:50%;
}

#next {
    padding: 10px;
    color:white;
    background-color: green;
    position: absolute;
    z-index: 2;
    right:0px;
    top:50%;
}

#prompt_container {
    z-index: 100;
    top: 0px;
    /*top: inherit; */
    overflow: hidden;
}

.prompt {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    color: white;
    top:100%;
    transition: top ease-in-out .5s;
    font-size: 1rem;
    line-height:1.2rem;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#info_prompt {
    top:0%;
    background-color:#444;
}

#info_name {
    font-weight: bold;
}

#drawer_prompt {
    z-index: 101;
    background-color: purple;
    top:-100%;
}

#spin_prompt {
    z-index: 101;
    background-color: blue;
    top:-100%;
}

/* Capture */

#capture {
    overflow: hidden;
    background-color:#666;
}

#capture_element {
    z-index: 0;
    width: 100%;
    height: 100%;
    left:0%;
}

#capture video {
    width: 100%;
    height: 100%;
}

#capture_output {
    display: none;
    visibility: hidden;
    z-index: 3;
    background-color: #666;
    width: 100%;
}

#capture_output img {
    width: 100%;
}

#captured, #captured > * {
    width: 100%;
}

#countdown {
    z-index: 3;
    color: darkgray;
    visibility: hidden;
    width: 20%;
    height: 50%;
    background-color:grey;
    display: none;
    
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#share_container {
    visibility: hidden;
    display: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

#b_photo, #b_share, #b_retake, #b_done {
}

#b_share {
    background-color: darkgreen;
}

#b_retake {
    background-color: yellowgreen;
}

#b_done {
    background-color: darkred;
}

/* Name /  share */

#keyboard {
    /*visibility: hidden;*/
}

/* SHARE */

#interface_tumblr, #interface_instagram {
    visibility: hidden;
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
