<!-- 
	data: {
		name: string (character name)
	}
 -->
<div id="wrapper">
	<div class="title" class="top">
		Camera Test Your <br /><strong>{{name}}</strong>
	</div>
	<div id="capture" class="middle">
		<div id="capture_element"></div>
		<div id="capture_output"></div>
	</div>
	<div id="buttons" class="bottom">
		<div id="button_container">
			<div id="b_photo" class="button">Take A Photo</div>
			<div id="b_done" class="button">I'm Done</div>
		</div>
  		<div id="countdown">
  		</div>
		<div id="share_container">
			<div id="b_share" class="button">Share</div>
			<div id="b_retake" class="button">Retake</div>
			<div id="b_done" class="button">I'm Done</div>
		</div>
  		<audio src="sound/v05.mp3" autoplay />
	</div>
</div>