<!-- 
	data: {
		title:string,
		video:string(url)
	}
 -->
<div id="wrapper">
	<div class="title top">
		<div id="title_wrap">
			<div>Build an<br /><strong>Anything Muppet</strong></div>
		</div>
	</div>
	<div id="video" class="middle">
		<video width="640" height="480" autoplay loop>
  			<source src="{{video}}" type="video/mp4" autoplay loop>
  			<!-- <source src="movie.ogg" type="video/ogg"> -->
  		</video>
	</div>
	<div id="get_started" class="bottom">
		<div id="b_getstarted" class="button noselect">Start</div>
	</div>
</div>