<!-- 
	data: {
		title:string,
		video:string(url)
	}
 -->
<div id="wrapper">
	<!-- <div class="title top">
		<div id="title_wrap">
			<div>Rollie Krewson<br/>on design</div>
		</div>
	</div> -->
	<div id="video" class="middle">
		<video id="rollie" autoplay loop>
  			<source src="{{video}}" type="video/mp4" autoplay loop>
  			<!-- <source src="movie.ogg" type="video/ogg"> -->
  		</video>
	</div>
	<div id="get_started" class="bottom">
		<div id="b_getstarted" class="button noselect">Select a Character</div>
	</div>
</div>