#confirm .container .content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}


@keyframes animateOff{
  to {margin-top:-100vh;}
}

@keyframes animateOn{
  to {margin-top:0px;}
}

#confirm.disabled{
  display:inline;
  animation-name: animateOff;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#confirm{
  animation-name: animateOn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}
